@charset "UTF-8";
body {
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
color: rgb(109, 22, 22);
}

#principal {
    text-align: center;
    background-color: rgb(5, 36, 26);
    color: white;
}

h2 {
    color: brown;
}

.basico {
    color: blueviolet;
}

.intermediario {
    color: crimson;
}

.avancado {
    color: darkblue;
}

.destaque {
    background-color: rgba(210, 105, 30, 0.486);
}
